$background-color: #1d1e26;
$color: #ffffff;

header {
  background-color: $background-color;
  color: $color;
  display: flex;
  align-items: center;
  padding-block: 0.75rem;
  justify-content: space-between;

  select {
    background-color: $background-color;
    color: $color;
    border: none;

    &:not(:last-child) {
      margin-inline-end: 1rem;
    }
  }
}
